---
import PageLayout from "./PageLayout.astro";
import PostHead from "../components/posts/PostHead.astro";

const {title, autor, pubDate, readTime} = Astro.props;
---

<PageLayout title={title} >
    <article>
        <header class="relative w-full h-52 bg-no-repeat bg-center bg-cover flex flex-row items-end" style="background-image: url('/images/posts/post1/preview.jpg')">
            <div class="w-full h-full bg-gradient-to-t from-gray-900 to-50% absolute"></div>
            <div class="px-6 py-4">
                <h2 class="text-gray-100 text-4xl drop-shadow-lg">{title}</h2>
            </div>
        </header>
        <main>
            <div class="py-4 px-8 space-y-6 [&>h3]:text-2xl  [&>h4]:text-2xl  [&>h5]:text-2xl [&>h3]:text-primary  [&>h4]:text-primary  [&>h5]:text-primary">
                <PostHead autor={autor} pubDate={pubDate} readTime={readTime} />
                    <p class="w-48 border-b-2 border-gray-300 mx-auto"></p>
                <slot />
            </div>
        </main>
    </article>
</PageLayout>
